body{
    font-family: serif;
    background-color:   #243b1d;
    color: #fff;
    
}

.cabecalho{
    display: flex;
    flex-direction: row;
    background-image: url('jp_topoFundo.jpg');
    height: 200px;

}

.navegador{
    display: flex;
    flex-direction: row;
    background-image: url('jp_menuFundo.jpg');
    height: 35px;
    width: 700px;
    color: #fff;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    border-top-left-radius: 25px ;
    border-bottom-right-radius: 25px;
    border: 1px solid white;
    margin: 81.5px 120px;
    font-size: 20px;
    
}


a{
    text-decoration: none;
    color: white;
}

.logo{
    display: flex;
    height: 150px;
    width: 216px;
    padding-top: 25px;
    padding-left:25px ;
}

/*Formulario*/
.geral{
    display: flex;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 30px;
}


.div_resposta{
    height: 150px;
    width: 100%;
    color: black;
    background-color: #a3c15d;
    margin: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-size: 40px;
}